a#whatsnew img { background-image : url(graphics/picto/5Docs.png); }
a#guides img { background-image : url(graphics/picto/5Docs.png); }
a#saphelp img { background-image : url(graphics/picto/5Docs.png); }

