<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>	
   
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.eclipse.wst.jsdt.core.jsSource"
            file-extensions="xsjs,xsjslib">
      </file-association>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.sap.ndb.studio.newwizardcategory/com.sap.ndb.studio.newwizardcategory.app"
            class="com.sap.ndb.studio.xse.editor.wizards.XSNewSourceFileWizard"
            icon="icons/new-XSFile.png"
            id="com.sap.ndb.studio.xse.editor.wizards.XSNewFileWizard"
            name="%newWizards.category.XSNewSourceFileWizard_xtit">
            <description> 
              %newWizards.category.XSNewSourceFileWizard_xmsg 
            </description>
            <keywordReference
                  id="com.sap.ndb.studio.dwb.app.keywords">
            </keywordReference>            
      </wizard>
      <wizard
            category="com.sap.ndb.studio.newwizardcategory/com.sap.ndb.studio.newwizardcategory.app"
            class="com.sap.ndb.studio.xse.editor.wizards.XSNewLibraryWizard"
            icon="icons/new-XSLibFile.png"
            id="com.sap.ndb.studio.xse.editor.wizards.XSNewLibraryWizard"
            name="%newWizards.category.XSNewLibraryWizard_xtit">
            <description> 
              %newWizards.category.XSNewLibraryWizard_xmsg 
            </description>
            <keywordReference
                  id="com.sap.ndb.studio.dwb.app.keywords">
            </keywordReference>
      </wizard>
      <wizard
            category="com.sap.ndb.studio.newwizardcategory/com.sap.ndb.studio.newwizardcategory.app"
            class="com.sap.ndb.studio.xse.editor.wizards.XSNewProjectSharedWizard"
            icon="icons/new-xs_proj.png"
            id="com.sap.ndb.studio.xse.editor.wizard.XSNewProjectSharedWizard"
            name="%newWizards.category.XSNewProjectSharedWizard_xtit">
         <description>
            %newWizards.category.XSNewProjectWizard_xmsg
         </description>
         <keywordReference
               id="com.sap.ndb.studio.dwb.app.keywords">
         </keywordReference>
      </wizard>
   </extension>
   <extension
         id="xsjsNature"
         name="XS JS Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.sap.ndb.studio.xse.editor.builder.XSJSNature">
         </run>
      </runtime>
   </extension>

   <extension
      point="org.eclipse.wst.jsdt.core.JsGlobalScopeContainerInitializer">
      <JsGlobalScopeContainerInitializer
            class="com.sap.ndb.studio.xse.editor.libraries.XSJSLibInitializer"
            id="org.eclipse.wst.jsdt.launching.XSJSApiLibrary">
      </JsGlobalScopeContainerInitializer>
   </extension>

   <extension
         id="com.sap.ndb.studio.xse.editor.xsjsLintBuilder"
         name="XS JS Lint Builder"
         point="org.eclipse.core.resources.builders">
	      <builder
	            hasNature="true">
	         <run
	               class="com.sap.ndb.studio.xse.editor.lint.builder.XSJSLintBuilder">
	         </run>
	      </builder>
   </extension>
   <extension
         id="com.sap.ndb.studio.xse.editor.xsjsLintNature"
         name="XS JS Lint Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.sap.ndb.studio.xse.editor.lint.builder.XSJSLintNature">
         </run>
      </runtime>
      <builder
            id="com.sap.ndb.studio.xse.editor.xsjsLintBuilder">
      </builder>
   </extension>
   <extension
         id="javaScriptLintProblem"
         name="%markers.name.xsjslintProblem_xfld"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
      
   <extension
        point="org.eclipse.ui.preferencePages">
	     <page
	           category="com.sap.ndb.studio.preferences.mainpage"
	           class="com.sap.ndb.studio.xse.editor.preferences.ApplicationDevelopmentPerspective"
	           id="com.sap.ndb.studio.xse.preferences.AppDev"
	           name="%preferenceCategory.appDev.name_xgrp">
	     </page>
     </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sap.ndb.studio.xse.editor.lint.preferences.XSJSLintPreferencesInitializer">
      </initializer>
   </extension>



   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="com.sap.ndb.studio.xse.editor.lint.contribution1">
         <action
               class="com.sap.ndb.studio.xse.editor.lint.ui.XSJSLintToggleNatureAction"
               enablesFor="+"
               id="com.sap.ndb.studio.xse.editor.lint.addNatureAction"
               label="%popupMenus.addNatureAction.enableXSJSLint_xmit"
               menubarPath="additions">
         </action>
         <visibility>
            <and>
               <objectState
                     name="open"
                     value="true">
               </objectState>
               <objectState
                     name="projectNature"
                     value="com.sap.ndb.studio.xse.editor.xsjsNature">
               </objectState>
               <not>
                  <objectState
                        name="projectNature"
                        value="com.sap.ndb.studio.xse.editor.xsjsLintNature">
                  </objectState>
               </not>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.sap.ndb.studio.xse.editor.lint.contribution2"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.sap.ndb.studio.xse.editor.lint.ui.XSJSLintToggleNatureAction"
               enablesFor="+"
               id="com.sap.ndb.studio.xse.editor.lint.removeJSLintNature"
               label="%popupMenus.addNatureAction.disableXSJSLint_xmit">
         </action>
         <visibility>
            <and>
               <objectState
                     name="open"
                     value="true">
               </objectState>
               <objectState
                     name="projectNature"
                     value="com.sap.ndb.studio.xse.editor.xsjsNature">
               </objectState>
               <objectState
                     name="projectNature"
                     value="com.sap.ndb.studio.xse.editor.xsjsLintNature">
               </objectState>
            </and>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
      		category = "com.sap.ndb.studio.xse.preferences.AppDev"
            class="com.sap.ndb.studio.xse.editor.lint.ui.preferences.XSJSLintOptionsPreferencePage"
            id="com.sap.ndb.studio.xse.editor.lint.ui.OptionsPreferencePage"
            name="%preferencePages.name.xsjsLint_xtit">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.sap.ndb.studio.xse.editor.lint.ui.preferences.XSJSLintOptionsPropertyPage"
            id="com.sap.ndb.studio.xse.editor.lint.ui.preferences.optionsPropertyPage"
            name="%propertyPages.name.xsjsLint_xtit">
         <enabledWhen>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     property="org.eclipse.jdt.launching.hasProjectNature"
                     args="com.sap.ndb.studio.xse.editor.xsjsLintNature"/>
            </and>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/xs_proj.png"
            id="com.sap.ndb.studio.xse.editor.image1"
            natureId="com.sap.ndb.studio.xse.editor.xsjsNature">
      </image>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent">   
              <commonWizard   
                    type="new"   
                    wizardId="com.sap.ndb.studio.xse.editor.wizards.XSNewFileWizard">   
                 <enablement>   
                    <and>
                      <instanceof
                            value="org.eclipse.core.resources.IResource">
                      </instanceof>
                      <or>
	                      <test
	                            forcePluginActivation="true"
	                            property="com.sap.ndb.studio.xse.editor.wizards.projectsharing.isProjectSharedWithHanaRepository"
	                            value="true">
	                      </test> 
                       	  <test   
                             property="org.eclipse.core.resources.projectNature"   
                             value="com.sap.ndb.studio.xse.editor.xsjsNature">   
                          </test>
	                  </or>    
                   </and>
                  </enablement>   
              </commonWizard>   
      </extension> 
      
<!-- wizards: xsapp,xsaccess,xsprivileges,xsodata-->      
	<extension point="org.eclipse.ui.newWizards">
		<wizard
              category="com.sap.ndb.studio.newwizardcategory/com.sap.ndb.studio.newwizardcategory.app"
              class="com.sap.ndb.studio.xse.editor.wizards.XSappNewFileWizard"
              icon="icons/AppDescriptorNew.gif"
              id="com.sap.ndb.studio.xse.editor.wizards.CreateXSappWizard"
              name="%newWizards.category.XSNewXSappWizardName_xtit">
            <description>%newWizards.category.XSNewXSappWizardDesc_xmsg</description>
            <keywordReference
                  id="com.sap.ndb.studio.dwb.app.keywords">
            </keywordReference>
        </wizard>
    </extension>
    <extension point="org.eclipse.ui.newWizards">
		<wizard
              category="com.sap.ndb.studio.newwizardcategory/com.sap.ndb.studio.newwizardcategory.app"
              class="com.sap.ndb.studio.xse.editor.wizards.XSaccessNewFileWizard"
              icon="icons/AppAccessNew.gif"
              id="com.sap.ndb.studio.xse.editor.wizards.CreateXSaccsessWizard"
              name="%newWizards.category.XSNewXSaccessWizardName_xtit">
            <description>%newWizards.category.XSNewXSaccessWizardDesc_xmsg</description>
            <keywordReference
                  id="com.sap.ndb.studio.dwb.app.keywords">
            </keywordReference>
        </wizard>
    </extension>
    <extension point="org.eclipse.ui.newWizards">
		<wizard
              category="com.sap.ndb.studio.newwizardcategory/com.sap.ndb.studio.newwizardcategory.app"
              class="com.sap.ndb.studio.xse.editor.wizards.XSpriviledgeNewFileWizard"
              icon="icons/AppPrivilegesNew.gif"
              id="com.sap.ndb.studio.xse.editor.wizards.CreateXSpriviledgeWizard"
              name="%newWizards.category.XSNewXSprivilegeWizardName_xtit">
            <description>%newWizards.category.XSNewXSprivilegeWizardDesc_xmsg</description>
            <keywordReference
                  id="com.sap.ndb.studio.dwb.app.keywords">
            </keywordReference>
        </wizard>
    </extension>
        <extension point="org.eclipse.ui.newWizards">
		<wizard
              category="com.sap.ndb.studio.newwizardcategory/com.sap.ndb.studio.newwizardcategory.app"
              class="com.sap.ndb.studio.xse.editor.wizards.XShttpdestNewFileWizard"
              icon="icons/HTTPDestinationNew.gif"
              id="com.sap.ndb.studio.xse.editor.wizards.CreateXShttpdestWizard"
              name="%newWizards.category.XSNewXShttpdestWizardName_xtit">
            <description>%newWizards.category.XSNewXShttpdestWizardDesc_xmsg</description>
            <keywordReference
                  id="com.sap.ndb.studio.dwb.app.keywords">
            </keywordReference>
        </wizard>
    </extension>
        <extension point="org.eclipse.ui.newWizards">
		<wizard
              category="com.sap.ndb.studio.newwizardcategory/com.sap.ndb.studio.newwizardcategory.app"
              class="com.sap.ndb.studio.xse.editor.wizards.XSjobNewFileWizard"
              icon="icons/JobSchedulerNew.gif"
              id="com.sap.ndb.studio.xse.editor.wizards.CreateXSjobWizard"
              name="%newWizards.category.XSNewXSjobWizardName_xtit">
            <description>%newWizards.category.XSNewXSjobWizardDesc_xmsg</description>
            <keywordReference
                  id="com.sap.ndb.studio.dwb.app.keywords">
            </keywordReference>
        </wizard>
    </extension>
        <extension point="org.eclipse.ui.newWizards">
		<wizard
              category="com.sap.ndb.studio.newwizardcategory/com.sap.ndb.studio.newwizardcategory.app"
              class="com.sap.ndb.studio.xse.editor.wizards.XSsqlccNewFileWizard"
              icon="icons/SQLConnectionConfigurationNew.gif"
              id="com.sap.ndb.studio.xse.editor.wizards.CreateXSsqlccWizard"
              name="%newWizards.category.XSNewXSsqlccWizardName_xtit">
            <description>%newWizards.category.XSNewXSsqlccWizardDesc_xmsg</description>
            <keywordReference
                  id="com.sap.ndb.studio.dwb.app.keywords">
            </keywordReference>
        </wizard>
    </extension>
    <extension point="org.eclipse.ui.newWizards">
		<wizard
              category="com.sap.ndb.studio.newwizardcategory/com.sap.ndb.studio.newwizardcategory.app"
              class="com.sap.ndb.studio.xse.editor.wizards.XSodataNewFileWizard"
              icon="icons/XSOdataNew.gif"
              id="com.sap.ndb.studio.xse.editor.wizards.CreateXSodataWizard"
              name="%newWizards.category.XSNewXSodataWizardName_xtit">
            <description>%newWizards.category.XSNewXSodataWizardDesc_xmsg</description>
            <keywordReference
                  id="com.sap.ndb.studio.dwb.app.keywords">
            </keywordReference>
        </wizard>
    </extension>
    <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="com.sap.ndb.studio.xse.editor.wizards.HanaRepositoryProjectStatePropertyTester"
           id="com.sap.ndb.studio.xse.editor.wizards.projectsharing.HanaRepositoryProjectSharingPropertyTester"
           namespace="com.sap.ndb.studio.xse.editor.wizards.projectsharing"
           properties="isProjectSharedWithHanaRepository,isProjectSystemLoggedOn"
           type="org.eclipse.core.resources.IResource">
     </propertyTester>
  </extension>
    <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <commonWizard
           type="new"
           wizardId="com.sap.ndb.studio.xse.editor.wizards.CreateXSodataWizard">
                <enablement>              
                   <and>
                      <instanceof
                            value="org.eclipse.core.resources.IResource">
                      </instanceof>
                      <or>
	                      <test
	                            forcePluginActivation="true"
	                            property="com.sap.ndb.studio.xse.editor.wizards.projectsharing.isProjectSharedWithHanaRepository"
	                            value="true">
	                      </test> 
                       	  <test   
                             property="org.eclipse.core.resources.projectNature"   
                             value="com.sap.ndb.studio.xse.editor.xsjsNature">   
                          </test>
	                  </or>    
                   </and>
       </enablement>    
     </commonWizard>      
    </extension>
     <extension
           point="org.eclipse.ui.editors">
        <editor
              class="com.sap.ndb.studio.xse.editor.editors.XSAppDescriptorMultiPageEditor"
              default="false"
              extensions="xsapp"
              icon="icons/AppDescriptor.gif"
              id="com.sap.ndb.studio.xse.editor.XSapp"
              name="%editor.XSAppDescriptorEditor_xtit">
        </editor>
     </extension>
     <extension
           point="com.sap.ndb.studio.editor.HANAEditor">
        <HANAEditor
              class="com.sap.ndb.studio.xse.editor.editors.XSAppPageEditor"
              editorId="com.sap.ndb.studio.xse.editor.XSapp"
              id="com.sap.ndb.studio.xse.editor.Page.XSapp">
        </HANAEditor>
     </extension>
     <extension
           point="org.eclipse.ui.editors">
        <editor
              class="com.sap.ndb.studio.xse.editor.editors.XSAccessMultiPageEditor"
              default="false"
              extensions="xsaccess"
              icon="icons/AppAccess.gif"
              id="com.sap.ndb.studio.xse.editor.XSaccess"
              name="%editor.XSAccessEditor_xtit">
        </editor>
     </extension>
     <extension
           point="com.sap.ndb.studio.editor.HANAEditor">
        <HANAEditor
              class="com.sap.ndb.studio.xse.editor.editors.XSAccessPageEditor"
              editorId="com.sap.ndb.studio.xse.editor.XSaccess"
              id="com.sap.ndb.studio.xse.editor.XSaccess">
        </HANAEditor>
     </extension>     
     <extension
           point="org.eclipse.ui.editors">
        <editor
              class="com.sap.ndb.studio.xse.editor.editors.XSODataMultiPageEditor"
              default="false"
              extensions="xsodata"
              icon="icons/XSOdata.gif"
              id="com.sap.ndb.studio.xse.editor.XSOData"
              name="%editor.XSODataEditor_xtit">
        </editor>
     </extension>
     <extension
           point="com.sap.ndb.studio.editor.HANAEditor">
        <HANAEditor
              ParserIntegrationFactory="com.sap.ndb.studio.xse.editor.parser.OSDLParserIntegrationfactory"
              RNDDialect="OSDL"
              class="com.sap.ndb.studio.xse.editor.editors.XSODataPageEditor"
              editorId="com.sap.ndb.studio.xse.editor.XSOData"
              id="com.sap.ndb.studio.xse.editor.hana.XSOData">
        </HANAEditor>
     </extension> 
     
     <extension
           point="org.eclipse.ui.editors">
        <editor
              class="com.sap.ndb.studio.xse.editor.editors.XSPrivilegeMultiPageEditor"
              default="false"
              extensions="xsprivileges"
              icon="icons/AppPrivileges.gif"
              id="com.sap.ndb.studio.xse.editor.XSPrivilege"
              name="%editor.XSPrivilegeEditor_xtit">
        </editor>
     </extension>
     <extension
           point="com.sap.ndb.studio.editor.HANAEditor">
        <HANAEditor
              class="com.sap.ndb.studio.xse.editor.editors.XSPrivilegePageEditor"
              editorId="com.sap.ndb.studio.xse.editor.XSPrivilege"
              id="com.sap.ndb.studio.xse.editor.XSPrivilege">
        </HANAEditor>
     </extension>
     <extension
           point="org.eclipse.ui.editors">
        <editor
              class="com.sap.ndb.studio.xse.editor.editors.XSHttpdestMultiPageEditor"
              default="false"
              extensions="xshttpdest"
              icon="icons/HTTPDestination.gif"
              id="com.sap.ndb.studio.xse.editor.XSHttpdest"
              name="%editor.XSHttpdestEditor_xtit">
        </editor>
     </extension>
     <extension
           point="com.sap.ndb.studio.editor.HANAEditor">
        <HANAEditor
              class="com.sap.ndb.studio.xse.editor.editors.XSHttpdestPageEditor"
              editorId="com.sap.ndb.studio.xse.editor.XSHttpdest"
              id="com.sap.ndb.studio.xse.editor.XSHttpdest">
        </HANAEditor>
     </extension> 
     <extension
           point="org.eclipse.ui.editors">
        <editor
              class="com.sap.ndb.studio.xse.editor.editors.XSJobMultiPageEditor"
              default="false"
              extensions="xsjob"
              icon="icons/JobScheduler.gif"
              id="com.sap.ndb.studio.xse.editor.XSJob"
              name="%editor.XSJobEditor_xtit">
        </editor>
     </extension>
     <extension
           point="com.sap.ndb.studio.editor.HANAEditor">
        <HANAEditor
              class="com.sap.ndb.studio.xse.editor.editors.XSJobPageEditor"
              editorId="com.sap.ndb.studio.xse.editor.XSJob"
              id="com.sap.ndb.studio.xse.editor.XSJob">
        </HANAEditor>
     </extension> 
     <extension
           point="org.eclipse.ui.editors">
        <editor
              class="com.sap.ndb.studio.xse.editor.editors.XSSqlccMultiPageEditor"
              default="false"
              extensions="xssqlcc"
              icon="icons/SQLConnectionConfiguration.gif"
              id="com.sap.ndb.studio.xse.editor.XSSqlcc"
              name="%editor.XSSqlccEditor_xtit">
        </editor>
     </extension>
     <extension
           point="com.sap.ndb.studio.editor.HANAEditor">
        <HANAEditor
              class="com.sap.ndb.studio.xse.editor.editors.XSSqlccPageEditor"
              editorId="com.sap.ndb.studio.xse.editor.XSSqlcc"
              id="com.sap.ndb.studio.xse.editor.XSSqlcc">
        </HANAEditor>
     </extension>
     <extension
           point="org.eclipse.ui.commands">
        <command
              id="com.sap.ndb.studio.xse.editor.command.xsadmin.browser"
              name="%menuitem.xsadmin_xmit">
        </command>
     </extension>
     <extension
           point="org.eclipse.ui.handlers">
        <handler
              class="com.sap.ndb.studio.xse.editor.handlers.OpenXSAdminEditorBrowserHandler"
              commandId="com.sap.ndb.studio.xse.editor.command.xsadmin.browser">
        </handler>
     </extension>  
     <extension
           point="org.eclipse.ui.menus">
        <menuContribution
              allPopups="false"
              locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=group.properties">
           <separator
                 name="com.sap.ndb.studio.xse.editor.saparator.xsadmin"
                 visible="true">
           </separator>
           <command
                 commandId="com.sap.ndb.studio.xse.editor.command.xsadmin.browser"
                 icon="icons/AdminXS.png"
                 id="com.sap.ndb.studio.xse.editor.command.openadmin"
                 label="%menuitem.xsadmin_xmit"
                 style="push">
              <visibleWhen
                checkEnabled="true">
                <and>
	                <count
	                      value="1">
	                </count>
	                <with variable="activeMenuSelection">
         				<iterate ifEmpty="false">
         				<and>	
         				 <test
	                          property="com.sap.ndb.studio.xse.editor.wizards.projectsharing.isProjectSharedWithHanaRepository"
	                          value="true">
		                 </test>
		                  <test
                            property="com.sap.ndb.studio.xse.editor.wizards.projectsharing.isProjectSystemLoggedOn"
                            value="true">
	                      </test>
		                 <or>
			                <test property="org.eclipse.core.resources.name" value="*.xshttpdest"/>
			                <test property="org.eclipse.core.resources.name" value="*.xsjob"/>
			                <test property="org.eclipse.core.resources.name" value="*.xssqlcc"/>
		                    <instanceof
		                          value="org.eclipse.core.resources.IProject">
		                    </instanceof>
		                    <instanceof
		                          value="org.eclipse.core.resources.IFolder">
		                    </instanceof>
			             </or>    
		                </and> 
         				</iterate>
         			</with>
	            </and>                        
              </visibleWhen>              
           </command>
        </menuContribution>
     </extension>
   
</plugin>
