<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="wizard_service" name="Wizard Service" schema="schema/wizard_service.exsd"/>
 <extension-point id="editor_info" name="Editor Information" schema="schema/editor_info.exsd"/>
 <extension-point id="history_actions" name="Editor Information" schema="schema/history_actions.exsd"/>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="com.sap.bw.core.ui.page.coreprefpage"
           class="com.sap.bw.core.ui.formula.CommonFormulaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
           id="com.sap.bw.core.ui.Formula.SyntaxColoring"
           name="Formula Syntax Coloring">
        <keywordReference
              id="com.sap.bw.core.ui.keyword_Formula">
        </keywordReference>
     </page>
  </extension>
  <extension
        point="org.eclipse.ui.keywords">
     <keyword
           id="com.sap.bw.core.ui.keyword_Formula"
           label="Formula">
     </keyword>
  </extension>
	<extension
         point="org.eclipse.ui.newWizards">
		<category 
        	id="com.sap.bw.modeling.category" 
       		name="%category.name"> 
		</category> 
		<wizard
            category="com.sap.bw.modeling.category"
            class="com.sap.bw.core.ui.wizard.BwProjectWizard"
            finalPerspective="com.sap.bw.ui.perspective"
            icon="icons/bwmodel_wizard.png"
            id="com.sap.bw.ProjectWizard"
            name="%wizard.name"
            project="true">
		</wizard>
	</extension>
	<extension
         point="org.eclipse.ui.perspectives">
		<perspective
            class="com.sap.bw.core.ui.internal.BwPerspectiveFactory"
            icon="icons/bwmodel_small.png"
            id="com.sap.bw.ui.perspective"
            name="%perspective.name">
		</perspective>
	</extension>
	<extension point="com.sap.adt.sapgui.ui.guiEventHandlers">
		<guiEventHandler class="com.sap.bw.core.ui.event.GuiEventHandler"> </guiEventHandler>
	</extension>
	   <extension
         point="com.sap.ide.opendocument.ui.urlHandlers">
      <urlHandler
            class="com.sap.bw.core.ui.openurl.BwmtLinkOpenHandler"
            urlPattern="bwmt:.*">
      </urlHandler>
   </extension>
	<extension
         id="com.sap.bw.nature"
         name="%extension.name"
         point="org.eclipse.core.resources.natures">
		<runtime>
			<run
               class="com.sap.bw.connectivity.BwNature">
			</run>
		</runtime>
	</extension>
	<extension
         point="org.eclipse.ui.views">
		<category
            name="%category.name"
            id="com.sap.bw.modeling.category">
		</category>
	</extension>
	<extension
        point="org.eclipse.core.expressions.propertyTesters">      
		<propertyTester
            class="com.sap.bw.core.ui.BwNaturePropertyTester"
            id="com.sap.bw.BwNaturePropertyTester"
            namespace="com.sap.bw.modeling"
            properties="isBwProject"
            type="org.eclipse.core.resources.IProject">
		</propertyTester>   
	</extension>
	<extension
         point="org.eclipse.ui.menus">   
		<menuContribution locationURI="popup:org.eclipse.ui.ide.MarkersView">
			<command commandId="com.sap.bw.menu.ui.OpenFullDescription"
                label="%command.label"
                mnemonic="%command.mnemonic"
                style="push"
                tooltip="%command.tooltip">
                <visibleWhen
                   checkEnabled="false">
						<reference
                      definitionId="com.sap.bw.core.ui.editorOrPerspective">
						</reference>
				</visibleWhen>
			</command>   
		</menuContribution>    	
		<menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
			<toolbar
               id="com.sap.bw.core.ui.toolbar">
				<command
                  commandId="com.sap.bw.menu.ui.OpenObjectCommand"
                  icon="icons/openbwobject.png"
                  id="com.sap.bw.menu.ui.OpenBWObject"
                  tooltip="%command.tooltip.0">
					<visibleWhen
                   checkEnabled="false">
						<reference
                      definitionId="com.sap.bw.core.ui.editorOrPerspective">
						</reference>
					</visibleWhen>
				</command>            
			</toolbar>
		</menuContribution>
		<menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=group.open">
			<command
                  commandId="com.sap.bw.menu.ui.OpenObjectCommand"
                  icon="icons/openbwobject.png"
                  id="com.sap.bw.menu.ui.OpenBWObject2"
                  tooltip="%command.tooltip.0">
				<visibleWhen>
					<test property="com.sap.bw.BwNaturePropertyTester"/>
				</visibleWhen>              
			</command>
		</menuContribution>		
		<menuContribution
            locationURI="menu:navigate?after=open.ext">
			<command
                  commandId="com.sap.bw.menu.ui.OpenObjectCommand"
                  icon="icons/openbwobject.png"
                  id="com.sap.bw.menu.ui.OpenBWObject3"
                  tooltip="%command.tooltip.0">
				<!-- TOD: show only in BW context, do no clutter UI for others!!
               <visibleWhen>
                     <test
                           property="com.sap.bw.qd.ui.definition.editor.active">
                     </test>
               </visibleWhen>
               -->
			</command>
		</menuContribution>
		<menuContribution
          locationURI="toolbar:com.sap.bw.core.ui.toolbar">
				<command
                commandId="com.sap.bw.core.ui.switchdisplaymode"
                icon="platform:/plugin/com.sap.bw.core.ui/icons/display_set.png"
                id="com.sap.bw.core.ui.switchdisplaymode.toolbar"
                label="%command.label.switch"
                style="pulldown">
					<visibleWhen
                   checkEnabled="false">
						<reference
                      definitionId="com.sap.bw.core.ui.editorOrPerspective">
						</reference>
					</visibleWhen>
				</command>          
		</menuContribution>
		<menuContribution locationURI="menu:com.sap.bw.core.ui.switchdisplaymode.toolbar">
			<command commandId="com.sap.bw.core.ui.switchdisplaymode" label="%command.label.switch.1" style="radio">
				<parameter name="org.eclipse.ui.commands.radioStateParameter" value="Text">
				</parameter>
			</command>
			<command commandId="com.sap.bw.core.ui.switchdisplaymode" label="%command.label.switch.2" style="radio">
				<parameter name="org.eclipse.ui.commands.radioStateParameter" value="KeyText">
				</parameter>
			</command>
			<command commandId="com.sap.bw.core.ui.switchdisplaymode" label="%command.label.switch.3" style="radio">
				<parameter name="org.eclipse.ui.commands.radioStateParameter" value="TextKey">
				</parameter>
			</command>
			<command commandId="com.sap.bw.core.ui.switchdisplaymode" label="%command.label.switch.4" style="radio">
				<parameter name="org.eclipse.ui.commands.radioStateParameter" value="Key">
				</parameter>
			</command>
		</menuContribution>
		<menuContribution
             locationURI="popup:common.new.menu?after=additions">
			<command
         commandId="org.eclipse.ui.newWizard"
         icon="icons/bwmodel_wizard.png"
         id="com.sap.bw.modeling.bwprj.wizard.menu"
         label="%wizard.name"
         style="push">
				<parameter
                   name="newWizardId"
                   value="com.sap.bw.ProjectWizard">
				</parameter>
				<visibleWhen
                   checkEnabled="false">
					<iterate
                         ifEmpty="false"
                         operator="or">
						<and>
							<adapt
                               type="org.eclipse.core.resources.IProject">
								<test
                        		forcePluginActivation="true"
                        		property="com.sap.bw.modeling.isBwProject">
								</test>
							</adapt>
						</and>
					</iterate>
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?endof=group.open">
			<command
               commandId="com.sap.bw.menu.ui.OpenObjectCommand"
               icon="icons/openbwobject.png"
               style="push">
				<visibleWhen
                  checkEnabled="false">
					<iterate
                         ifEmpty="false"
                         operator="or">
						<and>
							<adapt
                               type="org.eclipse.core.resources.IProject">
								<test
                        		forcePluginActivation="true"
                        		property="com.sap.bw.modeling.isBwProject">
								</test>
							</adapt>
						</and>
					</iterate>
				</visibleWhen>
			</command>
		</menuContribution>
  <menuContribution
        locationURI="menu:navigate?after=open.ext">
     <command
           commandId="com.sap.bw.menu.ui.OpenBwmtFromClipboard"
           icon="icons/url.gif"
           id="com.sap.bw.menu.ui.OpenBwmtFromClipboard1"
           tooltip="%command.tooltip">
     </command>
  </menuContribution>
	</extension>

	<extension
         point="org.eclipse.ui.commands">
		<command
            id="com.sap.bw.menu.ui.OpenObjectCommand"
            name="%command.name">
		</command>			
		<command
            id="com.sap.bw.menu.ui.OpenFullDescription"
            name="%command.name.0">
		</command>		
		<command
       id="com.sap.bw.core.ui.switchdisplaymode"
       name="%command.label.switch">
			<commandParameter id="org.eclipse.ui.commands.radioStateParameter" name="mode" optional="true">
			</commandParameter>
			<state
         id="org.eclipse.ui.commands.radioState">
				<class
            class="org.eclipse.ui.handlers.RadioState">
					<parameter
               name="default"
               value="KeyText">
					</parameter>
					<parameter
               name="persisted"
               value="true">
					</parameter>
				</class>
			</state> 
		</command>
		<command
            defaultHandler="com.sap.bw.core.ui.history.ShowInHistoryHandler"
            id="com.sap.bw.core.ui.showinhistory"
            name="%command.name.1">
		</command>
  <command
        id="com.sap.bw.menu.ui.OpenBwmtFromClipboard"
        name="%command.name.2">
  </command>
	</extension>
	<extension
         point="org.eclipse.ui.handlers">
		<handler
            class="com.sap.bw.core.ui.actions.MarkerLongTextDisplayHandler"
            commandId="com.sap.bw.menu.ui.OpenFullDescription">
		</handler>  
		<handler
            class="com.sap.bw.core.ui.open.OpenBwObjectHandler"
            commandId="com.sap.bw.menu.ui.OpenObjectCommand">
		</handler>	
		<handler
          class="com.sap.bw.core.ui.label.DisplayModeHandler"
          commandId="com.sap.bw.core.ui.switchdisplaymode">
		</handler>
  <handler
        class="com.sap.bw.core.ui.openurl.OpenBwmtFromClipboardHandler"
        commandId="com.sap.bw.menu.ui.OpenBwmtFromClipboard">
  </handler>
	</extension>
	<extension
         point="org.eclipse.ui.bindings">
		<key
            commandId="com.sap.bw.menu.ui.OpenObjectCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+D">
		</key>
	</extension>

	<extension
            id="com.sap.bw.core.ui.historyPageSourceAdapterFactory"
            point="org.eclipse.core.runtime.adapters">
		<factory
               adaptableType="com.sap.bw.connectivity.sfs.ContentProvider"
               class="com.sap.bw.core.ui.history.BwHistoryPageSourceAdapterFactory">
			<adapter
                 type="org.eclipse.team.ui.history.IHistoryPageSource">
			</adapter>
		</factory>
  <factory
        adaptableType="com.sap.bw.connectivity.services.mdl.INodeData"
        class="com.sap.bw.core.ui.history.BwHistoryPageSourceAdapterFactory">
     <adapter
           type="org.eclipse.team.ui.history.IHistoryPageSource">
     </adapter>
  </factory>
	</extension>
	<extension
       point="org.eclipse.ui.preferencePages">
		<page
          class="com.sap.bw.core.ui.prefs.BwCorePreferencePage"
          id="com.sap.bw.core.ui.page.coreprefpage"
          name="%page.name">           
		</page>
		<page
          category="com.sap.bw.core.ui.page.coreprefpage"
          class="com.sap.bw.core.ui.prefs.CompositeProviderPreferencePage"
          id="com.sap.bw.core.ui.page.hcprpreferencepage"
          name="%page.name.0">
		</page>
		<page
          category="com.sap.bw.core.ui.page.coreprefpage"
          class="com.sap.bw.core.ui.prefs.CheckPreferencePage"
          id="com.sap.bw.core.ui.page.check"
          name="%page.name.1">
		</page>    
	</extension>

	<extension
       point="org.eclipse.core.runtime.preferences">
		<initializer
         class="com.sap.bw.core.ui.prefs.BwPreferenceDefaults">
		</initializer>
	</extension>
	<extension
       point="com.sap.bw.modeling.transportselectionui">
		<transportui
          class="com.sap.bw.core.ui.internal.TransportSelectionUI">
		</transportui>
	</extension> 
	<extension
       point="org.eclipse.core.expressions.definitions">
		<definition
          id="com.sap.bw.core.ui.definition.perspective.active">
			<with
             variable="activeWorkbenchWindow.activePerspective">
				<equals
                value="com.sap.bw.ui.perspective">
				</equals>
			</with>
		</definition>
  <definition
        id="com.sap.bw.core.ui.editorOrPerspective">
     <or>
        <reference
              definitionId="com.sap.bw.core.ui.definition.perspective.active">
        </reference>
        <reference
              definitionId="com.sap.bw.editor.ui.definition.bw.editor.active">
        </reference>
     </or>
  </definition>

	</extension>
	<extension
       point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
          targetID="com.sap.bw.ui.perspective">
			<newWizardShortcut
             id="com.sap.bw.ProjectWizard">
			</newWizardShortcut>
		</perspectiveExtension>
	</extension>
 <extension
       point="org.eclipse.ui.ide.markerSupport">
    <markerTypeCategory
          name="%markerTypeCategory.name">
       <markerTypeReference
             id="com.sap.bw.core.bwProblem">
       </markerTypeReference>
       <markerTypeReference
             id="com.sap.bw.core.bwLocalProblem">
       </markerTypeReference>
       <!--
       <markerTypeReference
             id="com.sap.bw.core.hcprViewNodeNotSupportedInUnion">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprModelTypeMismatch">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprModelNameMismatch">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprDefaultNodeMissing">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprViewNodeMissingInput">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprViewNodeNameInvalid">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprViewNodeNameNotUnique">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprViewNodeNoTargetFields">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprViewNodeNotSupportedInUnion">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprViewNodeNotSupportedInnerJoin">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprJoinFieldNameInvalid">
       </markerTypeReference>
          <markerTypeReference
             id="com.sap.bw.core.hcprMappingInvalidNumber">
       </markerTypeReference>
          <markerTypeReference
             id="com.sap.bw.core.hcprJoinConditionsMissing">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprJoinFieldNotAssigned">
       </markerTypeReference>
         <markerTypeReference
             id="com.sap.bw.core.hcprFieldNameInvalid">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprFieldNameNotUnique">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprFieldIobjInvalid">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprFieldNoMapping">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprFieldGlobalNameNotUnique">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprFieldCurrencyUnitFieldInvalid">
       </markerTypeReference>
         <markerTypeReference
             id="com.sap.bw.core.hcprFieldCurrencyUnitFixedValueInvalid">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprFieldCurrencyInformationMissing">
       </markerTypeReference>
       <markerTypeReference
             id="com.sap.bw.core.hcprFieldUnitInformationMissing">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprFieldRestrictionValueInvalid">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprFieldCompoundingParentInvalid">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprFieldCompoundingParentMissing">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprPartprovInvalid">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprPartprovNotSupported">
       </markerTypeReference>
         <markerTypeReference
             id="com.sap.bw.core.hcprMappingTargetFieldNameInvalid">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprMappingSourceFieldNameInvalid">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprMappingConstantValueInvalid">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprMappingTargetFieldMultiple">
       </markerTypeReference>
         <markerTypeReference
             id="com.sap.bw.core.hcprMappingIncompatibleFields">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprJoinConditionsMissing">
       </markerTypeReference>
        <markerTypeReference
             id="com.sap.bw.core.hcprCompatibilityFieldIobj">
       </markerTypeReference>
         <markerTypeReference
             id="com.sap.bw.core.hcprNavAttrCompounding">
       </markerTypeReference>
         <markerTypeReference
             id="com.sap.bw.core.general">
       </markerTypeReference>
       -->
         <markerTypeReference
             id="com.sap.bw.core.applicationLog">
       </markerTypeReference>
 
    </markerTypeCategory>
 </extension>
 <extension
       point="com.sap.bw.modeling.statushandling">
    <statusHandler
          class="com.sap.bw.core.ui.internal.StatusHandlerInternal">
    </statusHandler>
 </extension>
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="com.sap.bw.core.ui.internal.BwToolsUiStartUp">
    </startup>
 </extension>
 <extension
       point="org.eclipse.core.filesystem.filesystems">
    <filesystem
          scheme="bwmt">
       <run
             class="com.sap.bw.core.ui.openurl.BwmtFileSystem">
       </run>
    </filesystem>
 </extension>
 <extension
       id="com.sap.bw.modeling"
       point="org.eclipse.ui.intro.configExtension"> 	
 	<configExtension		
 		configId="org.eclipse.ui.intro.universalConfig"		
 		content="intro/overview.xml"/>
 </extension>
 <extension
       point="org.eclipse.ui.ide.projectNatureImages">
    <image
          icon="icons/ovl_bw.png"
          id="com.sap.bw.nature.image"
          natureId="com.sap.bw.nature">
    </image>
 </extension>
 <extension
       id="bwmt"
       point="org.eclipse.core.runtime.products">
    <product
          application="org.eclipse.ui.ide.workbench"
          description="BW Modeling Tools"
          name="BW Modeling Tools">
       <property
             name="preferenceCustomization"
             value="plugin_customization.ini">
       </property>
       <property
             name="appName"
             value="BW Modeling Tools">
       </property>
       <property
             name="startupForegroundColor"
             value="000000">
       </property>
       <property
             name="startupMessageRect"
             value="7,252,445,20">
       </property>
       <property
             name="startupProgressRect"
             value="5,275,445,15">
       </property>
        <property
             name="windowImages"
             value="icons/bwmodel_small.png">
       </property>
    </product>
 </extension>
</plugin>
