a#pi-query img {
	background-image: url(../../images/topiclabel/tu_query48.gif);
}

a#pi-query:hover img {
	background-image: url(../../images/topiclabel/tu_query48_hov.gif);
}

a#pi-task img {
	background-image: url(../../images/topiclabel/tu_task48.gif);
}

a#pi-task:hover img {
	background-image: url(../../images/topiclabel/tu_task48_hov.gif);
}
