{
    "description": "Read stock value",
    "action": "sample.test:job.xsjs::my_readStock",
    "schedules": [
       {
          "description": "Read current stock value",
          "xscron": "* * * * 9 * 59",
          "parameter": {
             "stock": "SAP.DE"
             }
       }
    ]
}
