<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.sap.ndb.studio.sqlscript.procedure.hdb.editors.ProcedureMultiPageEditor"
            contributorClass="com.sap.ndb.studio.editor.ui.generation.ConfiguredActionBarContributer"
            extensions="hdbprocedure"
            icon="icons/HDBProcedure.gif"
            id="com.sap.ndb.studio.sqlscript.procedure.hdb.editors.HDBMultiPageEditor"
            name="%Editor.SQLScriptHDBEditor.name_XTIT">
      </editor>
      <editor
            class="com.sap.ndb.studio.sqlscript.procedure.catalog.viewers.CatalogMultiPageViewer"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="rtprocedure"
            icon="icons/HDBProcedure.gif"
            id="com.sap.ndb.studio.sqlscript.procedure.catalog.viewers.CatalogMultiPageViewer"
            name="%Editor.SQLScriptViewer.name_XTIT">
      </editor>
      <editor
            class="com.sap.ndb.studio.sqlscript.procedure.xml.editors.ProcedureXmlMultiPageEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            icon="icons/SqlScript.gif"
            id="com.sap.ndb.studio.sqlscript.procedure.xml.editors.XMLMultiPageEditor"
            name="%Editor.SQLScriptXMLEditor.name_XTIT">
         <contentTypeBinding
               contentTypeId="com.sap.ndb.studio.sqlscript.procedure.procedure.contenttype">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="com.sap.ndb.studio.editor.HANAEditor">
      <HANAEditor
            ParserIntegrationFactory="com.sap.ndb.studio.sql.editor.parser.SQLParserIntegrationFactory"
            RNDDialect="DtProcedure"
            class="com.sap.ndb.studio.sqlscript.procedure.hdb.editors.ProcedurePageEditor"
            editorId="com.sap.ndb.studio.sqlscript.procedure.hdb.editors.HDBMultiPageEditor"
            editorTitle="%Editor.SQLScriptEditor.name_page_XTIT"
            id="com.sap.ndb.studio.sqlscript.procedure.ProcedureEditor">
      </HANAEditor>
   </extension>
   <extension
         point="com.sap.ndb.studio.editor.HANAEditor">
      <HANAEditor
            ParserIntegrationFactory="com.sap.ndb.studio.sql.editor.parser.SQLParserIntegrationFactory"
            RNDDialect="RtProcedure"
            class="com.sap.ndb.studio.sqlscript.procedure.catalog.viewers.CatalogPageViewer"
            editorId="com.sap.ndb.studio.sqlscript.procedure.catalog.viewers.CatalogMultiPageViewer"
            editorTitle="%Editor.SQLScriptEditor.name_page_XTIT"
            id="com.sap.ndb.studio.sqlscript.procedure.catalog.viewers.CatalogPageViewer"
            readOnly="true">
      </HANAEditor>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="com.sap.ndb.studio.sqlscript.procedure.catalog.action.OpenCatalogViewerActionProvider"
            id="com.sap.ndb.studio.sqlscript.procedure.catalog.action.OpenCatalogViewerActionProvider">
         <enablement>
            <instanceof
                  value="com.sap.ndb.studio.catalog.IProcedure">
            </instanceof>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="com.sap.ndb.studio.sqlscript.procedure.catalog.action.OpenCatalogViewerActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerActionBinding
            viewerId="com.sap.ndb.studio.navigator.view">
         <includes>
            <actionExtension
                  pattern="com.sap.ndb.studio.sqlscript.procedure.catalog.action.OpenCatalogViewerActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="com.sap.ndb.studio.editor.HANAEditor">
      <HANAEditor
            ParserIntegrationFactory="com.sap.ndb.studio.sql.editor.parser.SQLParserIntegrationFactory"
            RNDDialect="DtProcedureXmlBased"
            class="com.sap.ndb.studio.sqlscript.procedure.xml.editors.ProcedureXmlPageEditor"
            editorId="com.sap.ndb.studio.sqlscript.procedure.xml.editors.XMLMultiPageEditor"
            editorTitle="%Editor.SQLScriptEditor.name_page_XTIT"
            id="com.sap.ndb.studio.sqlscript.procedure.ProcedureEditor">
      </HANAEditor>
   </extension>
   <extension
         point="com.sap.ndb.studio.editor.HANAEditor">
      <HANAEditor
            ParserIntegrationFactory="com.sap.ndb.studio.sql.editor.parser.SQLParserIntegrationFactory"
            RNDDialect="DtProcedureTableType"
            class="com.sap.ndb.studio.sqlscript.procedure.xml.editors.ProcedureLocalTablePageEditor"
            editorId="com.sap.ndb.studio.sqlscript.procedure.xml.editors.LocalTableEditor"
            editorTitle="%Editor.SQLScriptEditor.name_page_XTIT"
            id="com.sap.ndb.studio.sqlscript.procedure.ProcedureEditor">
      </HANAEditor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            describer="com.sap.ndb.studio.sqlscript.procedure.xmlhandlers.ProcedureContentDescriber"
            file-extensions="procedure"
            id="com.sap.ndb.studio.sqlscript.procedure.procedure.contenttype"
            name="%procedure.contenttype.name_XTIT"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.sap.ndb.studio.sqlscript.procedure.xml.editors.procedurexmlpageeditor">
         <propertySection
               class="com.sap.ndb.studio.sqlscript.procedure.xml.properties.ProcedureXmlGeneralProperties"
               filter="com.sap.ndb.studio.sqlscript.procedure.xml.properties.ProcedureXmlFilter"
               id="com.sap.ndb.studio.sqlscript.procedure.xml.editors.procedurexmleditortab"
               tab="com.sap.ndb.studio.sqlscript.procedure.xml.editors.procedurexmleditortab">
            <input
                  type="com.sap.ndb.studio.sqlscript.procedure.xml.editors.ProcedureXmlMultiPageEditor">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.sap.ndb.studio.sqlscript.procedure.xml.editors.procedurexmlpageeditor">
         <propertyTab
               category="com.sap.ndb.studio.sqlscript.procedure.xml.editors.procedurexmleditor"
               id="com.sap.ndb.studio.sqlscript.procedure.xml.editors.procedurexmleditortab"
               label="%propertyTab.label.PROCEDURE_XTBS">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.sap.ndb.studio.sqlscript.procedure.xml.editors.procedurexmlpageeditor">
         <propertyCategory
               category="com.sap.ndb.studio.sqlscript.procedure.xml.editors.procedurexmleditor"></propertyCategory>
      </propertyContributor>
   </extension>
	<extension point="org.eclipse.ui.popupMenus"> 
		<viewerContribution 
      		id="org.sap.ndb.studio.sqlscript.editor.procedure.action.contribution.AddBookmark"
      		targetID="com.sap.ndb.studio.sqlscript.editor.ruler"> 
   			<action
   	    		 label = "%Editor.SQLScriptHDBEditor.AddBookmark_XMIT"
        		 id="org.sap.ndb.studio.sqlscript.editor.procedure.actions.AddBookmark" 
        		 menubarPath="additions" 
        		 class="org.eclipse.ui.texteditor.BookmarkRulerAction"> 
      		</action> 
   		</viewerContribution> 
	</extension>
   	<extension point="org.eclipse.ui.popupMenus"> 
		<viewerContribution 
      		id="org.sap.ndb.studio.sqlscript.editor.procedure.action.contribution.AddTask"
      		targetID="com.sap.ndb.studio.sqlscript.editor.ruler"> 
  			 <action
   	     		label = "%Editor.SQLScriptHDBEditor.AddTask_XMIT"
         		id="org.sap.ndb.studio.sqlscript.editor.procedure.actions.AddTask" 
         		menubarPath="additions" 
         		class="org.eclipse.ui.texteditor.TaskRulerAction"> 
      		</action> 
   		</viewerContribution> 
	</extension>   
</plugin>
